h1 {
  text-align: center;
}
.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.card {
  text-align: center;
  padding: 10px;
  width: 3000px;
  border-radius: 5px;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
img {
  height: 100px;
  width: auto;
}
.button-1 {
  background-color: #cf4109;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.float-container {
    border: 3px solid #fff;
    padding: 40px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
} 

.float-child-2 {
  width: 50%;
  float: right;
  padding: 20px;
} 

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 2px solid red;
}

.tabs > li {
  margin: 0 1em;
  padding: 0.5em;
}

.current {
  background: white;
  color: blue;
  font-weight: bold;
  border: 2px solid blue;
  border-bottom: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  top: 2px;
}